[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"e1839a8" = {path = "."}
better-exceptions = "*"


[dev-packages]

pytest-runner = "*"
pytest = "*"
pytest-cov = "*"
