[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
better-exceptions = "*"
"num2words" = "*"
tinydb = "*"
attrs = "*"
titlecase = "*"
"bs4" = "*"
requests = ">=2.20"
fuzzywuzzy = {extras = ["speedup"]}
"jinja2" = "*"
"ruamel.yaml" = "*"
click = "*"
prompt-toolkit = ">=2.0.1"
click-repl = "*"

[dev-packages]
pytest-runner = "*"
pytest = ">=4.0.0"
pytest-cov = "*"
