[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

"num2words" = "*"
tinydb = "*"
attrs = "*"
titlecase = "*"
"bs4" = "*"
requests = "*"
fuzzywuzzy = {extras = ["speedup"]}
"jinja2" = "*"
pyyaml = "*"
"e1839a8" = {path = ".", editable = true}


[dev-packages]

pytest = "*"
"pytest-cov" = "*"
ptpython = "*"